.correctButton, .incorrectButton {
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
}

.correctButton:hover {
    background-color: #7C7F70;
    color: white;
}

.incorrectButton:hover {
    background-color: #7C7F70;
    color: white;
}

.next-level-button {
    border-radius: 15px;
    background-color: teal;
    color: rgb(243, 241, 241);;
    margin-top: 25px;
    margin-bottom: 25px;
}

#pointsHeader {
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 2px 2px 2px rgba(206,89,55,0.5), 2px 2px 2px rgba(206,89,55,0.5);
 }